{% extends "base.html" %}
{% block content %}
<div class="course-body">
<div class="course-page">

  <!-- LEFT COLUMN: Main course info -->
  <div class="course-main">

    <!-- Overview -->
    <section class="course-overview course-section">
        <h2>About this course</h2>
        {% for line in course.details.get_overview %}
            <p>{{ line }}</p>
        {% endfor %}
    </section>

    <!-- Learning Outcomes -->
    <section class="course-outcomes course-section">
        <h2>What you'll learn</h2>
        <ul>
            {% for outcome in course.details.get_outcomes %}
                <li>{{ outcome }}</li>
            {% endfor %}
        </ul>
    </section>

    <!-- Skills -->
    <section class="course-skills course-section">
        <h2>Skills you'll gain</h2>
        <ul>
            {% for skill in course.details.get_skills %}
                <li>{{ skill }}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="course-skills course-section">
        <h2>Tools used</h2>
        <ul>
            {% for tools in course.details.get_tools %}
                <li>{{ tools }}</li>
            {% endfor %}
        </ul>
    </section>

    <section class="course-skills course-section">
        <h2>Requirements</h2>
        <ul>
            {% for requirements in course.details.get_requirements %}
                <li>{{ requirements }}</li>
            {% endfor %}
        </ul>
    </section>

    <!-- Modules -->
    <section class="course-modules course-section">
    <h2>Modules</h2>
    <a href="{% url 'module_list' course.slug %}">View ALL Modules</a>
</section>


  </div>

  <!-- RIGHT COLUMN: Sidebar -->
  <aside class="course-sidebar">
      <img src="{{ course.image.url }}" alt="{{ course.title }}">
      <h1>{{ course.title }}</h1>
      <p>{{ course.details.short_description }}</p>
      <p><strong>Price:</strong> ${{ course.price }}</p>
      <p><strong>Duration:</strong> {{ course.duration }}</p>
      <p><strong>Language:</strong> {{ course.details.language }}</p>

      {% if user.is_authenticated %}
          {% if enrolled %}
              <p><strong>You are already enrolled  </strong><a href="{% url 'module_list' course.slug %}">View Modules</a></p>
              <a href="{% url 'unenroll_course' course.slug  %}" class="btn-unenroll">Unenroll</a>  


              {% else %}
              <form method="POST" action="{% url 'enroll_course' course.slug %}">
                  {% csrf_token %}
                  <button type="submit" class="btn">Enroll Now</button>
              </form>
          {% endif %}
      {% else %}
          <a href="{% url 'login' %}">Login to enroll</a>
      {% endif %}
  </aside>

</div>
</div>

{% endblock %}

